.container{
  padding-top: 15%;
}
form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0px 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
a {
  text-decoration: none;
  color: #007bff;
  transition: 0.3s ease-in-out;
}
a:hover {
  color: #0056b3;
}

