.mat-toolbar-row{
    justify-content: space-around;
}
span{
  color: #fff ;
}
.org-name{
  color: #12355b;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }